form {
  text-align: center;
}

input, select {
  margin: 1%;
  width: 90%;
  font-size-adjust: 2;
}

input[type=submit]:hover {
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet,red);
    animation: move 300s linear infinite;
}

@keyframes move {
    to {
        background-position: 4500vh;
    }
}