<!DOCTYPE html>
<html>
<head>
    <title>Tracker</title>
    <link rel="stylesheet" type="text/css" href="/static/table.css">
    <script>
        function showForRoute() {
            let route = document.getElementById("routeSelector").value;
            const f = document.getElementById("getActivitiesForRoute");
            if (route != "All Routes") {
                f.action += "/" + route;
            }
            f.submit();
        }
    </script>
</head>
<body>
    <ul>
        <li><a href="/">Main Menu</a></li>
        <li><a href="/activities/add">Add Activity</a></li>
    </ul>
    Activities for
    <select onchange="showForRoute()" id="routeSelector">
        {% for route_name in route_names %}
            {% if route_name == selected_route %}
                <option value="{{route_name}}" selected="selected">{{route_name}}</option>
            {% else %}
                <option value="{{route_name}}">{{route_name}}</option>
            {% endif %}
        {% endfor %}
    </select>
    <form action="/activities" method="GET" id="getActivitiesForRoute"></form><br>
    <table> <!--TODO: add a column to edit and delete these activities -->
        <tr>
            {% for header in headers %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>
        {% for row in activities %}
            <tr>
            {% for entry in row %}
                <td>{{ entry }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>