<!DOCTYPE html>
<html>
<head>
    <title>Tracker</title>
    <link rel="stylesheet" type="text/css" href="/static/table.css">
</head>
<body>
    <ul>
        <li><a href="/">Main Menu</a></li>
        <li><a href="/stats">Back to Stats Overview</a></li>
    </ul>
    <table> <!--TODO: add a column to edit and delete this stats-->
        <tr>
            {% for header in headers %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>
        {% for row in stats %}
            <tr>
            {% for entry in row %}
                <td>{{ entry }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>