<html>
<head>
    <title>Tracker</title>
    <script>
        function addSubmit() {
            const f = document.getElementById("deleteForm");
            const i = document.createElement("input");
            i.setAttribute("style", "color:red;");
            i.setAttribute("type", "submit");
            i.setAttribute("value", "DELETE NOW");
            f.append(i);
            const b = document.getElementById("deleteButton");
            i.setAttribute("type", "hidden");
        }
    </script>
</head>
<body>
    <p style="color:red;">!WARNING! Your User will be Deleted. Permanently!</p><br>
    <button id="deleteButton" onclick="addSubmit()">Delete my User</button>
    <form action="/delete_user" method="POST" id="deleteForm">
    </form>
</body>
</html>