<!DOCTYPE html>
<html>
<head>
    <title>Tracker</title>
    <link rel="stylesheet" type="text/css" href="/static/table.css">
    <script>
        function showForCategory() {
            let category = document.getElementById("categorySelector").value;
            const f = document.getElementById("getStatsForCategory");
            f.action += "/" + category;
            f.submit();
        }
    </script>
</head>
<body>
    <ul>
        <li><a href="/">Main Menu</a></li>
        <li><a href="/stats/add">Add Stats</a></li>
        <li><a href="/stats/all">Raw Stats</a></li>
    </ul>
    Show Stats for
    <select onchange="showForCategory()" id="categorySelector">
        {% for category, beautified in category_info %}
            {% if category == selected_category %}
                <option value="{{category}}" selected="selected">{{beautified}}</option>
            {% else %}
                <option value="{{category}}">{{beautified}}</option>
            {% endif %}
        {% endfor %}
    </select>
    <form action="/stats/" method="GET" id="getStatsForCategory"></form><br>

    <div>
      <canvas id="myChart"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      const ctx = document.getElementById('myChart');
      const labels = {{date_labels|safe}}; //do not escape quotes
      const chart_data = {
        labels: labels,
        datasets: [{
          label: '{{label}}',
          data: {{datapoints}},
          fill: false,
          borderColor: 'rgb(168, 35, 35)',
          tension: 0.1
        }]
      };

      new Chart(ctx, {
        type: 'line',
        data: chart_data,
        options: {
          scales: {
            y: {
              min: {{start_y}},
              max: {{end_y}}
            }
          }
        }
      });
    </script>
</body>
</html>